*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Lora', serif;
}
/*TITULO*/
header div img{
 	margin-top: 8%;
 }
/*NAV*/
 nav ul{
 	text-align: center;
 }
 nav ul li{
 	display: inline-block;
 	list-style: none;
 	padding: 3%;	
 }
 nav ul li a{
 	color: #000;
 }
 nav ul li a:hover{
 	border-bottom: 2px dotted #000;
 	color: #de7f40;
 }
/*SECTION #HOME*/
#home div img{
	margin: 0;
	padding: 0;
}
div.inicio1{
	width: 60%;
	position: absolute;
	right: 5%;
	top: 30%;
	margin-top: 5%;
	background-color: rgba(255, 255, 255, 0.32);
}
div.inicio1 h3{
	color: #fff;
	padding: 0 2%;
}
div.inicio1 p{
	color: #000;
	margin: 0;
	padding: 0 2%;
}
div.inicio1 div{
	padding: 0 2%;
	margin-bottom: 2%;
}
div.inicio1 div a{
	width: 30%;
	padding: 2%;
	color: #000;
}
div.inicio1 div a:hover{
	background-color: #000;
	color: #fff;
}
div.previas{
	margin-top: 5%;
	margin-bottom: 5%;
}
div.previas img{
	border: 8px double #000;
}
/*ABOUT ME*/
#aboutme h4{
	text-align: center;
	color: #de7f40;
	font-weight: bold;
	margin-bottom: 2%;
}
#aboutme div img{
	border: 3px double #000;
	border-radius: 5%;
}
#aboutme div.info{
	text-align: center;
	margin: 5%;
}
#aboutme div.info div{
	color: #de7f40;
	font-weight: bold;
	padding: 3% 0;
}
/*GALLERY*/
#gallery div a img{
	border: 5px double #000;
	margin-bottom: 10%;
}
#gallery div div.LastRow a img#bigImg{
	margin: 0;
	padding: 0;
	width: 95%; 
}
/*CONTACT*/
textarea#mensaje{
	resize: none;
	height: 150px;
}
div.submit{
	width: 30%;
}
input.button{
	background-color: #de7f40;
}
input.button:hover{
	background-color: #d15502;
}

/*FOOTER*/
footer{
	background-color: #000;
}
footer div p{
	text-align: center;
	font-size: 20px;
	color: #fff;
}
footer div ul li{
	display: inline-block;
	padding-left: 5%;
}
footer div ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 30px;
}
footer div ul li a:hover{
	color: #de7f40;
	border-bottom: 2px dotted #fff;
}



